/*城市玩乐*/
.city_wanle{
    height:480px;
    padding:35px 0 50px 0;
}
.city_wrap{
    height:480px;
    margin:0 95px 0 95px;
    /*background: pink;*/
}
.city_titlerow{
    height:40px;
}
.city_h2{
    float: left;
    font-size:36px;
    font-weight: 700;
    line-height:40px;
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;
}
.city_p{
    height:18px;
    padding-top:20px;
    margin-left:12px;
    font-size:14px;
    line-height:18px;
    float: left;
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;
    color: #636363;
}
.city_ul{
    width:550px;
    height:28px;
    margin-top:9px;
    position: relative;
    float: right;
    top:5px;
}
.city_li{
    width:90px;
    height:25px;
    /*border-bottom: 3px solid;*/
    /*margin-left:10px;*/
    float: left;
    font-size:16px;
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;

}
.city_li:nth-child(1),.city_li:nth-child(2),.city_li:nth-child(6){
    width:60px;
}
.city_li a{
    text-decoration: none;
    color:#636363;
}
.city_li:hover a{
    color: #16c1a0;
    border-bottom: 3px solid #16c1a0;
}
.city_content{
    height:435px;
    margin-top:30px;
    background: pink;
}
.city_content_li{
    width:370px;
    height:265px;
    margin:25px 0 0 25px;
    float: left;
    position: relative;
}
.city_content_li_a{
    /*width:370px;*/
    /*height:265px;*/
    text-decoration: none;
    color: #0073b6;
}
.pics{
    width: 100%;
    height: 265px;
    overflow: hidden;
}
.pics img{
    width:398px;
    height:265px;
    position: relative;
    left: -14px;
    display: block;
}
.mask{
    /*width:370px;*/
    height:175px;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    background: url("//common1.qyerstatic.com/zworld/web/project/index/images/wanle-one-maskbg.png") repeat-x;
    background-image:linear-gradient(180deg,transparent,#000);
}
.title{
    width:330px;
    height:48px;
    position: absolute;
    left:20px;
    right:20px;
    bottom: 50px;
    max-height:48px;
    font-size:18px;
    line-height:24px;
    color: white;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;
}
.infos{
    width:330px;
    height:32px;
    position: absolute;
    left:20px;
    right:20px;
    bottom: 10px;
    font-size:14px;
    color: silver;
}
.type{
    width:56px;
    height:20px;
    padding-top:12px;
    float: left;
    line-height:20px;
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;
}
.price{
    /*width:87px;*/
    height:32px;
    float: right;
    line-height:;
}
.city_content_item{
    width:250px;
    height:120px;
    /*padding-left:20px;*/
    margin:25px 0 0 25px;
    float: left;
}
.pic2{
    width:120px;
    height:120px;
    position: absolute;
    margin-left: -120px;
}
.pic2 img{
    width:120px;
    height:120px；
}
.title2{
    height: 48px;
    padding: 15px 18px 0;
    font-size: 18px;
    line-height: 24px;
    color: #323232;
    float: left;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
}